body {
    font-family: 'Urbanist', sans-serif;
}
html, body {
    height: 100%;
}
.body {
    display: flex;
    flex-direction: column;
}
html {
    overflow-x: hidden;
}
.wrap {
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 20px;
}
main {
    flex: 1 1 auto;
}
.injector {
    width: 100%;
    height: 80px;
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: row;
}
.profile-photo-item {
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 50%;
}
.menu-bar-list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #9e9e9edc;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu-bar-link {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
}
.menu-bar-link:hover {
    background-color: #CFD8DC;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  transition-duration: .25s;
}
.menu-bar-list {
  transition-duration: .25s;
}
.menu-bar-item {
  transition-duration: .25s;
}
#menu_toggle:checked ~ .menu_btn > span {
    transform: rotate(45deg);
  }
  #menu_toggle:checked ~ .menu_btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu_toggle:checked ~ .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu_toggle:checked ~ .menu-bar-list {
    visibility: visible;
    left: 0;
  }
#menu_toggle {
    opacity: 0;
  }
  .menu_btn {
    position: fixed;
    margin-top: 35px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 10;
  }
  .menu_btn > span,
  .menu_btn > span::before,
  .menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 174, 255);
  }
  .menu_btn > span::before {
    content: '';
    top: -8px;
  }
  .menu_btn > span::after {
    content: '';
    top: 8px;
  }
.head, .header {
    z-index: 30;
}
.zmdi {
    color: #fff;
    transition: 0.5s;
}
.zmdi:hover {
    color: rgb(255, 152, 78);
    transition: 0.5s;
}
.zmdi-email, .zmdi-mail-send {
    margin-right: 10px;
    margin-top: 20px;
    color: black;
}
.wrappier {
    text-align: center;
}
.ad-si {
    transition: 0.7s;
}
.ad-si:hover {
    transition: 0.7s;
    transform: translateX(40px);
}
.us-jq {
    transition: 0.7s;
}
.us-jq:hover {
    transition: 0.7s;
    transform: translateX(40px);
}
.wo-gi {
    transition: 0.7s;
}
.wo-gi:hover {
    transition: 0.7s;
    transform: translateX(40px);
}
.wr-co {
    transition: 0.7s;
}
.wr-co:hover {
    transition: 0.7s;
    transform: translateX(40px);
}
.connection-bar-list {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    position: absolute;
    right: 500px;
}
.connection-bar-list2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.connection-bar-link:hover {
    font-weight: 700;
    transition: 0.2s;
}
.connection-bar-link {
    text-decoration: none;
    color: #222b22;
    transition: 0.2s;
}
.connection-bar-item {
    list-style-type: none;
}
.home-text-item {
    font-weight: 700;
    text-align: center;
}
.home-text2-item {
    font-weight: 300;
    margin-left: 12px;
}
.can_do {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 7px;
}
.list-can_do {
    margin-left: 50px;
}
.skill-line {
    text-align: center;
    margin-top: 23px;
    margin-left: 170px;
}
.progress-bar-line {
    border-radius: 10px;
    width: 200px;
    height: 5px;
    background-color: rgb(219, 219, 219);
    margin-bottom: 60px;
}
.line-name {
    display: flex;
    flex-direction: row;
    font-weight: 500;
}
.line-type {
    margin-right: 7px;
    font-weight: 700;
}
.progress-bar-line::after {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    background: rgb(0, 174, 255);
    border-radius: 10px;
}
.bar-line-html::after {
    width: 180px;
}
.bar-line-css::after {
    width: 164px;
}
.bar-line-JS::after {
    width: 140px;
}
.bar-line-JQ::after {
    width: 112px;
}
.bar-line-git::after {
    width: 68px;
}

.profil-photo-item {
    transition: 0.7s;
}
.profil-photo-item:hover {
    border-radius: 30px;
}

.read-more {
    margin-left: 130px;
}
.read-more-link {
    text-decoration: none;
    color: rgb(0, 174, 255);
    font-size: 24px;
    font-weight: 700;
    transition: 0.5s;
}
@keyframes BackTime {
    from {opacity: 1;}
    to {opacity: 0;}
}
@-webkit-keyframes BackTime {
    from {opacity: 1;}
    to {opacity: 0;}
}


.read-more-link:hover {
    color: rgb(143, 143, 143);
}
.html-a {
    animation: Timeout 0.8s;
}
.JS-a {
    animation: Timeout 1.3s;
}
.css-a {
    animation: Timeout 1.8s;
}
.git-a {
    animation: Timeout 2.3s;
}
.JQ-a {
    animation: Timeout 2.8s;
}

@keyframes Timeout {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes Timeout {
    from {opacity: 0;}
    to {opacity: 1;}
}


.less-line {
    width: 100%;
    height: 80px;
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: row;
}
.rsschool-logo {
    margin-left: 15px;
    margin-top: 25px;
}
.my_github-tekst {
    text-decoration: none;
    color: #222;
    font-weight: 700;
    font-size: 50px;
    transition: 0.5s;
}
.my_github-tekst:hover {
    color: #fff;
}
.my_github {
    margin-top: 10px;
    margin-left: 30px;
}
.year-21 {
    margin-top: 14px;
    margin-left: 20px;
}
.rights-text {
    color: #fff;
}
.photo-items {
    text-align: center;
    margin-top: 150px;
}
.photo-items-text {
    margin-bottom: 40px;
    padding-top: 20px;
}
.about {
    background: rgb(219, 219, 219);
}
.photo-itm-text {
    font-weight: 500;
    padding-bottom: 20px;
}
.photo-code {
    text-align: center;
}
.photo-code-img {
    border-radius: 30px;
}
.photo-text-item {
    text-align: center;
    padding-top: 0px;
}
.code-bud {
    padding-bottom: 25px;
}
.h6-item {
    text-align: center;
}
.center-text-work {
    text-align: center;
}
.work-img-item {
    text-align: center;
}
.work-img-item-text {
    font-weight: 500;
}
.course-item {
    text-align: center;
    padding-top: 15px;
}
.course-list-item {
    margin-bottom: 8px;
}
.course-list-link {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}
.course-list-ul {
    padding-bottom: 15px;
}
.en-text {
    padding-top: 5px;
    padding-bottom: 3px;
}
.en-text-item {
    text-align: center;
}
.item-en {
    font-weight: 700;
}
.course-list-ul {
    text-align: center;
}
.course-list-item {
    list-style-type: none;
    text-decoration: none;
    transition: 0.7s;
}
.course-list-link:hover {
    font-weight: 700;
}

.contact-here {
    background-color: rgb(0, 174, 255);
}
.inp1, .inp2, .inp3, .inp4 {
    width: 250px;
}
.inp1, .inp2, .inp3, .inp4, input {
    margin-bottom: 20px;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.inp1:focus, .inp2:focus, .inp3:focus {
    transition: 0.5s;
    box-shadow: inset 0 0 10px;
}
.inp1, .inp2 {
    height: 40px;
}
.inp_all {
    text-align: center;
}
.contact-here-write-block {
    display: flex;
    flex-direction: column;
}
.contact-here-block {
    padding: 70px 0 70px 0;
}
.contact-here-center {
    text-align: center;
    padding-top: 15px;
}
input[type="submit"] {
    margin-top: 30px;
    background: rgb(16, 154, 218);
    border-bottom: 4px solid rgb(0, 121, 177);
    color: white;
    font-size: 14px;
}
.contact-here-center {
    transition: 1s;
}
.contact-here-center:hover {
    transition: 1s;
    transform: translateY(-20px);
}


@media (max-width: 880px) {
    .my_github {
        margin-left: 0;
    }
    .rights-text {
        opacity: 0;
    }
}
@media (max-width: 500px) {
    .menu-bar-list {
        padding-right: 20px;
    }
    .skill-line {
        margin-left: 150px;
    }
}
